body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

#logo {
    text-align: center;
    color: #535050;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



.card 
{
    background-color: #ffffff;
    padding: 20px 145px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

#menu {
display: flex;
gap: 45px;
justify-content: center;
}